<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf8>
        <link href="http//allfont.ru/allfont.css?fonts=ubuntu"
        rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <style>
      body{
          margin: 20px;
          font-family: 'Ubuntu', arial;
          color:#3B3939;
      }
        </style>
    <title>Загрузка файлов на сервер</title>
</head>
<body>
       <a href="{{ path('quizz_home') }}"> Вернуться к билетам </a>
       <br>
<h2><p><b> Форма для загрузки файлов </b></p></h2>
<form action="{{ path('loadImage') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="submit" value="Загрузить"><br>
</form>
</body>
</html>